/*main-axis, cross-axis 개념 확실히
justify-content -> main-axis : default
align-items -> cross-axis : default에 수직*/

.father {
  /*flexbox는 모든 박스를 일렬로 정리함*/
  display: flex;

  justify-content: space-around;
  height: 100vh;
  /*default: nowrap
  wrap: 정해진 사이즈 유지*/
}

.child {
  background-color: peru;
  width: 300px;
  height: 200px;
  color: white;
  font-size: 50px;
  /*안에 숫자를 가운데 정렬*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background: black;
  flex-shrink: 4; /*창 크기 조절 시 2번 박스는 1,3번보다 4배로 줄어듬, flex-grow는 반대작용*/
}

.child:nth-child(2) {
  flex-grow: 0;
}
