/*main-axis, cross-axis 개념 확실히
justify-content -> main-axis : default
align-items -> cross-axis : default에 수직*/

.father {
  /*flexbox는 모든 박스를 일렬로 정리함*/
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  height: 100vh;
  flex-wrap: wrap-reverse; /*default: nowrap
  wrap: 정해진 사이즈 유지*/
}

.child {
  background-color: peru;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 50px;
  /*안에 숫자를 가운데 정렬*/
  display: flex;
  justify-content: center;
  align-items: center;
}
