body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.grid {
  color: white;
  display: grid;
  gap: 5px;
  grid-auto-rows: 100px;
  margin-bottom: 30px;
}

.item:nth-child(odd) {
  background-color: #2ecc71;
}

.item:nth-child(even) {
  background: #3498db;
}

.grid:first-child {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid:last-child {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
/* auto-fill
남는 공간을 빈 셀로 남겨둔다.
grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
repeat(auto-fill, 250px)

auto-fit
남는 공간을 크기를 늘려 채운다.
grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
repeat(auto-fit, 250px)

auto-fill, auto-fit은 주로 repeat함수 내에서 사용하고, minmax와 함께 사용한다. */
