/*flex처럼 grid도 father에서 일어남*/
.father {
  display: grid;
  grid-template-columns: 250px 250px 250px; /*원하는만큼 columns적으면 됨, row도 있음*/
  grid-template-rows: 100px 50px 300px;
  column-gap: 10px;
  row-gap: 10px;
  gap: 10px; /*한번에 구분가능!*/
}

.child {
  flex-basis: 30%;
  background-color: peru;
  color: white;
  font-size: 50px;
  /*안에 숫자를 가운데 정렬*/
  display: flex;
  justify-content: center;
  align-items: center;
}
