.grid {
  background: grey; /*100% 사용*/
  color: white;
  display: grid;
  gap: 5px;
  height: 250vh;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  place-content: end center; /*stretch 쓰려면 fr로 바꾸면 적용잘됨*/
}

.header {
  background-color: #2ecc71;
}
.content {
  background-color: #3498db;
}
.nav {
  background-color: #8e44ad;
}
.footer {
  background-color: #f39c12;
  /*grid-area: footer; 이런 것들은 위에 grid에서 layout에 사용하지 않으면 쓰면 정상적으로 작동되지 않음 */
}
