.grid {
  display: grid;
  gap: 5px;
  height: 50vh;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  /*justify-items: center; stretch는 꽉채워줌
  align-items: center;*/
  /*justify-items, align-items을 동시에 해주는게 place-items*/
  place-items: stretch end; /*row, column 순*/
}

.header {
  background-color: #2ecc71;
}
.content {
  background-color: #3498db;
}
.nav {
  background-color: #8e44ad;
}
.footer {
  background-color: #f39c12;
}
